header {
  width: 100%;
  background-color: white;
  height: 54px;
}

.row {
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-color: #F5F5F5;
}

.navbar-default {
    border: 0;
}
.navbar {
    background-color: transparent;
    color: white;
    margin-bottom: 0px;
}
.navbar-default {
  .navbar-brand {
    margin: -10px 0 0 0;
    padding-right: 20px;
    font-size: 30px;
    color: black;
    &:hover {
      color: white;
    }
  }
  .navbar-nav > li > a {
    color: #ccc;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    color: white;
    &:hover, &:focus {
      background-color: transparent;
      color: white;
    }
  }
}
@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ccc;
    text-align: center;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-default .navbar-toggle {
    background-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}



header li a {
  color: #111111;
  font-family: serif;
}




footer {
  width: 100%;
  background-color: white;
  padding: 20px 0 10px 0;
  color: #111111;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  font-family: serif
}

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}

.flash {
  color: red;
  padding-top: 10px;
  font-family: fantasy;
}
